ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}


a {
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: $montserrat;
  line-height: calc(28/16);
  letter-spacing: 0.04em;
  color: $text-black-color;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}