$accent-color: #F8D24E;
$text-black-color: #131313;
$text-white-color: #FCFCFC;
$green-color: #84A178;
$green-btn-color: #0A8817;
$grey-btn-color: #ABABAB;
$burgundy-product-color: #D6936D;
$yellow-product-color: #EFD478;
$green-product-color: #AEC6A5;
$montserrat: 'Montserrat', sans-serif;
$seymour-one: 'Seymour One', sans-serif;