$accent-color: #F8D24E;
$text-black-color: #131313;
$text-white-color: #FCFCFC;
$green-color: #84A178;
$burgundy-color: #D6936D;
$montserrat: 'Montserrat', sans-serif;
$seymour-one: 'Seymour One', sans-serif;