<section class="contacts">
    <div class="container contacts__container">
        <h2 class="contacts__title visually-hidden">Contacts</h2>
        <div class="contacts__wrap">
            <div class="contacts__cards">
                <div class="contacts__card">
                    <p class="contacts__card-title">CAFE</p>
                    <address class="contacts__address">
                        <p class="contacts__city">Chicago</p>
                        <a href="https://goo.gl/maps/HQ3RDvaZduHKX3pg8" class="contacts__link" target="_blank">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </address>
                    <ul class="contacts__schedule">
                        <li class="contacts__schedule-days">Monday - Friday</li>
                        <li class="contacts__schedule-time contacts__schedule-time--indent">06:00 AM - 10:00 PM</li>
                        <li class="contacts__schedule-days">Saturday - Sunday</li>
                        <li class="contacts__schedule-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <ul class="contacts__communication">
                        <li><a class="contacts__communication-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="contacts__communication-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
                <div class="contacts__card">
                    <p class="contacts__card-title">FOOD TRUCK</p>
                    <address class="contacts__address">
                        <p class="contacts__city">Los Angeles</p>
                        <a href="https://goo.gl/maps/SCG1wwZWfCLopJzw7" class="contacts__link" target="_blank">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </address>
                    <ul class="contacts__schedule">
                        <li class="contacts__schedule-days">Monday - Friday</li>
                        <li class="contacts__schedule-time contacts__schedule-time--indent">06:00 AM - 10:00 PM</li>
                        <li class="contacts__schedule-days">Saturday - Sunday</li>
                        <li class="contacts__schedule-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <ul class="contacts__communication">
                        <li><a class="contacts__communication-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="contacts__communication-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
                <div class="contacts__card">
                    <p class="contacts__card-title">CAFE</p>
                    <address class="contacts__address">
                        <p class="contacts__city">New York</p>
                        <a href="https://goo.gl/maps/1BGzxgaSKWgch1As9" class="contacts__link" target="_blank">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </address>
                    <ul class="contacts__schedule">
                        <li class="contacts__schedule-days">Monday - Friday</li>
                        <li class="contacts__schedule-time contacts__schedule-time--indent">06:00 AM - 10:00 PM</li>
                        <li class="contacts__schedule-days">Saturday - Sunday</li>
                        <li class="contacts__schedule-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <ul class="contacts__communication">
                        <li><a class="contacts__communication-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="contacts__communication-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </div>
            <div class="contacts__buttons">
                <button type="button" class="contacts__location-btn">Our contacts<svg width="7" height="10" style="margin-left: 10px;"><use href="./images/icons.svg#marker"></use></svg></button>
                <button type="button" class="contacts__franchise-btn">Franchise<svg width="7" height="10" style="margin-left: 10px;"><use href="./images/icons.svg#marker"></use></svg></button>
            </div>
        </div>
    </div>
</section>