<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__title">
                <p class="footer__title-p1">homemade ice cream made</p>
                <p class="footer__title-p2">with passion</p>
            </div>
            <div class="footer__contacts">
                <ul class="social">
                    <li class="social__item"><a class="social__link" href="#"><svg class="social__svg"><use href="./images/icons.svg#github"></use></svg></a></li>
                    <li class="social__item"><a class="social__link" href="#"><svg class="social__svg"><use href="./images/icons.svg#telegram"></use></svg></a></li>
                    <li class="social__item"><a class="social__link" href="#"><svg class="social__svg"><use href="./images/icons.svg#facebook"></use></svg></a></li>
                </ul>
                <p class="footer__contacts-subtitle">Feel free to contact <a href="tel:+610383766284" class="footer__contacts-link">+61 (0) 383 766 284</a></p>
            </div>
        </div>
        <p class="footer__copyright">© 2022 - IceCream. 
            All Rights Reserved.</p>
    </div>
</footer>