<section class="gallary">
  <div class="container">
    <h2 class="gallery-reviews__title visually-hidden">Gallary</h2>
    <div class="gallary swiper">
      <div class="swiper-wrapper">
        <div class="gallary__thumb swiper-slide">
          <picture>
            <source
              srcset="./images/1200/gallary/img-@1x.jpg"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="./images/768/gallary/img-@1x.jpg"
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <img
              class="gallary__img"
              srcset="./images/480/gallary/img-@1x.jpg"
              src="./images/480/gallary/img-@1x.jpg"
              alt="gallary img ice cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallary__thumb swiper-slide">
          <picture>
            <source
              srcset="./images/1200/gallary/img1-@1x.jpg"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="./images/768/gallary/img1-@1x.jpg"
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <img
              class="gallary__img"
              srcset="./images/480/gallary/img1-@1x.jpg"
              src="./images/480/gallary/img1-@1x.jpg"
              alt="gallary img ice cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallary__thumb swiper-slide">
          <picture>
            <source
              srcset="./images/1200/gallary/img2-@1x.jpg"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="./images/768/gallary/img2-@1x.jpg"
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <img
              class="gallary__img"
              srcset="./images/480/gallary/img2-@1x.jpg"
              src="./images/480/gallary/img2-@1x.jpg"
              alt="gallary img ice cream"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
