<section class="hero" id="hero">
    <div class="container hero__container">

        <!-- Hero-title -->

        <div class="hero__about">
            <h1 class="hero__title"> ice cream made with
                <span class="hero__title--strong">passion</span>
            </h1>

            <!-- Hero-buttons -->

            <ul class="hero__list">
                <li class="hero__item">
                    <a class="hero__link hero__link--primary" href="#products">Products</a>
                </li>
                <li class="hero__item">
                    <a class="hero__link hero__link--secondary" href="#how-its-made">How it’s made?</a>
                </li>
            </ul>
        </div>

        <!-- Hero-text -->

        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et
            <a class="hero__arrow" href="#">
                <svg class="hero__icon">
                    <use href="./images/icons.svg#arrow-default"></use>
                </svg>
            </a>
        </p>

        <!-- Hero-meta -->

        <div class="hero__meta">
            <span class="hero__numbers">16</span>
            <span class="hero__info">cafes</span>
            <span class="hero__numbers">23</span>
            <span class="hero__info">food trucks</span>
        </div>

        <!-- Hero-images -->

        <div class="hero__image">
            <picture class="hero__image--icecream">
                <source media="(min-width: 1200px)" type="image/webp"
                    srcset="./images/1200/hero-images/icecream-lg@1x.webp 1x, ./images/1200/hero-images/icecream-lg@2x.webp 2x">
                <source media="(min-width: 1200px)" type="image/png"
                    srcset="./images/1200/hero-images/icecream-lg@1x.png 1x, ./images/1200/hero-images/icecream-lg@2x.png 2x">
                <source media="(min-width: 768px)" type="image/webp"
                    srcset="./images/768/hero-images/icecream-md@1x.webp 1x, ./images/768/hero-images/icecream-md@2x.webp 2x">
                <source media="(min-width: 768px)" type="image/png"
                    srcset="./images/768/hero-images/icecream-md@1x.png 1x, ./images/768/hero-images/icecream-md@2x.png 2x">
                <source media="(max-width: 767px)" type="image/webp"
                    srcset="./images/480/hero-images/icecream-sm@1x.webp 1x, ./images/480/hero-images/icecream-sm@2x.webp 2x">
                <source media="(max-width: 767px)" type="image/png"
                    srcset="./images/480/hero-images/icecream-sm@1x.png 1x, ./images/480/hero-images/icecream-sm@2x.png 2x">
                <img src="./images/480/hero-images/icecream-sm@1x.png" alt="Морозиво з трьома кульками" loading="lazy">
            </picture>
            <picture class="hero__image--scoops">
                <source media="(min-width: 1200px)" type="image/webp"
                    srcset="./images/1200/hero-images/scoops-lg@1x.webp 1x, ./images/1200/hero-images/scoops-lg@2x.webp 2x">
                <source media="(min-width: 1200px)" type="image/png"
                    srcset="./images/1200/hero-images/scoops-lg@1x.png 1x, ./images/1200/hero-images/scoops-lg@2x.png 2x">
                <source media="(min-width: 768px)" type="image/webp"
                    srcset="./images/768/hero-images/scoops-md@1x.webp 1x, ./images/768/hero-images/scoops-md@2x.webp 2x">
                <source media="(min-width: 768px)" type="image/png"
                    srcset="./images/768/hero-images/scoops-md@1x.png 1x, ./images/768/hero-images/scoops-md@2x.png 2x">
                <img src="./images/768/hero-images/scoops-md@1x.png" alt="Багато жовтих декоративних точок"
                    loading="lazy">
            </picture>
        </div>
    </div>
</section>