<section class="locations">
    <div class="container locations__container">
        <h2 class="locations__title visually-hidden">Locations</h2>
        <div class="locations__wrap">
            <div class="locations__cards">
                <div class="locations__card">
                    <p class="locations__card-title">CAFE</p>
                    <address class="locations__address">
                        <p class="locations__city">Chicago</p>
                        <a href="https://goo.gl/maps/HQ3RDvaZduHKX3pg8" class="locations__link" target="_blank">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </address>
                    <ul class="locations__schedule">
                        <li class="locations__schedule-days">Monday - Friday</li>
                        <li class="locations__schedule-time locations__schedule-time--indent">06:00 AM - 10:00 PM</li>
                        <li class="locations__schedule-days">Saturday - Sunday</li>
                        <li class="locations__schedule-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <ul class="locations__contacts">
                        <li><a class="locations__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="locations__contacts-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
                <div class="locations__card">
                    <p class="locations__card-title">FOOD TRUCK</p>
                    <address class="locations__address">
                        <p class="locations__city">Los Angeles</p>
                        <a href="https://goo.gl/maps/SCG1wwZWfCLopJzw7" class="locations__link" target="_blank">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </address>
                    <ul class="locations__schedule">
                        <li class="locations__schedule-days">Monday - Friday</li>
                        <li class="locations__schedule-time locations__schedule-time--indent">06:00 AM - 10:00 PM</li>
                        <li class="locations__schedule-days">Saturday - Sunday</li>
                        <li class="locations__schedule-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <ul class="locations__contacts">
                        <li><a class="locations__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="locations__contacts-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
                <div class="locations__card">
                    <p class="locations__card-title">CAFE</p>
                    <address class="locations__address">
                        <p class="locations__city">New York</p>
                        <a href="https://goo.gl/maps/1BGzxgaSKWgch1As9" class="locations__link" target="_blank">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </address>
                    <ul class="locations__schedule">
                        <li class="locations__schedule-days">Monday - Friday</li>
                        <li class="locations__schedule-time locations__schedule-time--indent">06:00 AM - 10:00 PM</li>
                        <li class="locations__schedule-days">Saturday - Sunday</li>
                        <li class="locations__schedule-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <ul class="locations__contacts">
                        <li><a class="locations__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        <li><a class="locations__contacts-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </div>
            <div class="locations__buttons">
                <button type="button" class="locations__location-btn">Our Locations<svg width="7" height="10" style="margin-left: 10px;"><use href="./images/icons.svg#marker"></use></svg></button>
                <button type="button" class="locations__franchise-btn">Franchise<svg width="7" height="10" style="margin-left: 10px;"><use href="./images/icons.svg#marker"></use></svg></button>
            </div>
        </div>
    </div>
</section>