<div class="backdrop is-hidden" data-modal>
  <div class="modal-products">
    <button type="button" class="modal-products__close-btn" data-modal-close>
      <svg class="modal-products__icon" width="11" height="11">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal-products__title">Chololate icecream</h2>
    <div class="modal-products__img-wrap">
      <img
        class="modal-products__img"
        srcset="
          ./images/480/products/modal@1x.png 1x,
          ./images/480/products/modal@2x.png 2x
        "
        src="./images/480/products/modal@1x.png"
        alt="ice cream"
        width="131"
        height="131"
        loading="lazy"
      />
    </div>
    <ul class="info">
      <li class="info__item">
        kcal
        <p class="info__descr">320</p>
      </li>
      <li class="info__item">
        Prote...
        <p class="info__descr">4g</p>
      </li>
      <li class="info__item">
        Fats
        <p class="info__descr">8,2g</p>
      </li>
      <li class="info__item">
        Carbs
        <p class="info__descr">40,4g</p>
      </li>
    </ul>
    <p class="modal__subtitle">Ingredients</p>
    <ul class="ingredients">
      <li class="ingredients__item">
        <p class="ingredients__text">Milk</p>
        <p class="ingredients__text">100ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Belgian chocolate</p>
        <p class="ingredients__text">20g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Cream</p>
        <p class="ingredients__text">150 ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Cocoa powder</p>
        <p class="ingredients__text">30g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Sugar</p>
        <p class="ingredients__text">40g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__text">Vanilla sugar</p>
        <p class="ingredients__text">10g</p>
      </li>
    </ul>
    <form name="products-form">
      <label class="products-form__label">
        <input
          class="products-form__input"
          type="text"
          name="username"
          placeholder="Name"
      /></label>
      <label class="products-form__label">
        <input
          class="products-form__input"
          type="tel"
          name="phone"
          placeholder="Phone"
      /></label>
      <label class="products-form__label">
        <textarea
          class="products-form__input products-form__input--textarea"
          name="comment"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="products-form__btn main-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
