<div class="header__backdrop">
    <div class="header__modal">
        <form>
            <p class="modal__title">Buy now</p>
            <ul class="modal__list">
                <li class="modal__item">
                    <input class="modal__checkbox visually-hidden" type="checkbox" name="icecream" id="icecream"
                        value="icecream">
                    <label class="modal__label" for="icecream"><span class="modal__subtitle">ice cream</span></label>
                </li>
                <li class="modal__item">
                    <input class="modal__checkbox visually-hidden" type="checkbox" name="icecoffee" id="icecoffee"
                        value="icecoffee">
                    <label class="modal__label" for="icecoffee"><span class="modal__subtitle">ice coffee</span></label>
                </li>
                <li class="modal__item">
                    <input class="modal__checkbox visually-hidden" type="checkbox" name="milkshake" id="milkshake"
                        value="milkshake">
                    <label class="modal__label" for="milkshake"><span class="modal__subtitle">milkshake</span></label>
                </li>
            </ul>
        </form>

    </div>
</div>