<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle supline">100% natural</p>
    <h2 class="products__title headline">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--img products__item--img-first">
        <div class="products__wrap">
          <h3 class="products__item-title">ice cream</h3>
          <p class="products__descr">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button type="button" class="products__btn">
          <svg class="products__icon">
            <use href="./images/products/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--img products__item--img-second">
        <div class="products__wrap">
          <h3 class="products__item-title">ice coffee</h3>
          <p class="products__descr">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button type="button" class="products__btn">
          <svg class="products__icon" width="40" height="15">
            <use href="./images/products/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--img products__item--img-third">
        <div class="products__wrap">
          <h3 class="products__item-title">milkshakes</h3>
          <p class="products__descr">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button type="button" class="products__btn">
          <svg class="products__icon" width="40" height="15">
            <use href="./images/products/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
