.gallary {
  position: relative;
  margin: 0 auto;
  max-width: 280px;

  @media screen and (min-width:768px) {
    max-width: 704px;
  }

  @media screen and (min-width:1200px) {
    max-width: 1013px;
  }
}

.gallary__thumb {

  max-width: 1013px;
  max-height: 422px;

  .gallary__img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;

    @media screen and (min-width:768px) {
      border-radius: 18px;
    }

    @media screen and (min-width:1200px) {
      border-radius: 24px;
    }
  }
}

.modal-location {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 32px 60px;
  max-width: 568px;
  width: 100%;

  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.modal-location__container {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-location__headline {
  font-size: 20px;
  font-family: $seymour-one;
}

.modal-location__iframe {
  border: none;
  margin: 32px 0;
}