// .header__backdrop {
//     z-index: 100;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.2);
//     transition: opacity linear 250ms, visibility linear 250ms;
//     overflow: hidden;

//     &.is-hidden {
//         opacity: 0;
//         visibility: hidden;
//         pointer-events: none;
//     }
// }

.header__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 28px 30px;
    width: 280px;
    height: 986px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

}

.modal__title {
    margin-bottom: 84px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #131313;
}

.modal__list {
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.modal__item {
    width: 132px;
    height: 136px;

    &:nth-child(1) {
        border: 2px solid #96AF8C;
        filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
        border-radius: 15.7808px;
    }

    &:nth-child(2) {
        background: #EFD478;
        border: 2px solid #EFD478;
        box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
        border-radius: 15.7808px;
    }

    &:nth-child(3) {
        border: 2px solid #D6936D;
        filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
        border-radius: 15.7808px;
    }
}

.modal__label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-bottom: 20px;

    &:before {
        content: '';
        position: absolute;
        top: -50%;

        width: 132px;
        height: 132px;
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
        border-radius: 50%;


    }
}

.modal__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
}