.products {
  padding-top: 60px;
  padding-bottom: 20px;
  background-image: url('../images/480/products/bg@1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/480/products/bg@2x.webp');
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 82px;
    background-image: url('../images/768/products/bg@1x.webp');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/768/products/bg@2x.webp');
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 66px;
    background-image: url('../images/1200/products/bg@1x.webp');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/1200/products/bg@2x.webp');
  }
}

.products__subtitle {
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  color: $text-black-color;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.products__title {
  margin-bottom: 148px;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  color: $text-black-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 303px;
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 123px 40px 13px 40px;
  position: relative;
  width: 280px;
  min-height: 420px;
  border-radius: 24px;
  margin-bottom: 164px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 107px 26px 13px 26px;
    width: 224px;
    min-height: 428px;
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 166px 53px 55px;
    width: 370px;
    min-height: 535px;
  }
}

.products__item--img {
  background-color: $green-product-color;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: -111px;
    width: 200px;
    height: 200px;
    margin: 0;
    background-image: url('../images/480/products/icecream-mobile@1x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/480/products/icecream-mobile@2x.png');
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: -100px;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
  }

  @media screen and (min-width: 768px) {
    &::before {
      top: -120px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../images/768/products/icecream-tablet@1x.png');

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/768/products/icecream-tablet@2x.png');
      }
    }

    &::after {
      top: -111px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      width: 302px;
      height: 300px;
      top: -183px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../images/1200/products/icecream-desktop@1x.png');

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/1200/products/icecream-desktop@2x.png');
      }
    }

    &::after {
      width: 302px;
      height: 300px;
      top: -166px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.products__item--img-second {
  background-color: $yellow-product-color;

  &::before {
    background-image: url('../images/480/products/icecoffee-mobile@1x.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/480/products/icecoffee-mobile@2x.png');
    }
  }

  &::after {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  @media screen and (min-width: 768px) {
    &::before {
      background-image: url('../images/768/products/icecoffee-tablet@1x.png');

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/768/products/icecoffee-tablet@2x.png');
      }
    }

    &::after {
      top: -111px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      background-image: url('../images/1200/products/icecoffee-desktop@1x.png');

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/1200/products/icecoffee-desktop@2x.png');
      }
    }

    &::after {
      top: -166px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.products__item--img-third {
  background-color: $burgundy-product-color;

  &::before {
    background-image: url('../images/480/products/milkshakes-mobile@1x.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/480/products/milkshakes-mobile@2x.png');
    }
  }

  &::after {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 768px) {
    &::before {
      background-image: url('../images/768/products/milkshakes-tablet@1x.png');

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/768/products/milkshakes-tablet@2x.png');
      }
    }

    &::after {
      top: -111px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      background-image: url('../images/1200/products/milkshakes-desktop@1x.png');

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/1200/products/milkshakes-desktop@2x.png');
      }
    }

    &::after {
      top: -166px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.products__item-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-black-color;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-bottom: 40px;
  }
}

.products__descr {
  font-size: 14px;
  line-height: calc(25 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  color: $text-black-color;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}

.products__btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  bottom: 0;
  padding: 10px 10px 0 10px;
  background: transparent;
  border: none;
  outline: transparent;
}

.products__icon {
  width: 40px;
  height: 15px;
  transform-origin: left;
  transition: transform linear 200ms;

  .products__btn:hover & {
    transform: scaleX(1.3);
  }

  .products__btn:focus & {
    stroke: black;
    stroke-width: 2px;
    transform: scaleX(1.3);
  }
}

// Modal-products

.backdrop {
  position: relative;
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity linear 200ms;

  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity linear 200ms;
}

.overflow {
  overflow: hidden;
}

.modal-products {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  padding: 26px 18px 30px 18px;
  background: $text-white-color;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 30px 38px 30px 38px;
  }
}

.modal-products__close-btn {
  display: flex;
  position: absolute;
  padding: 0;
  border: none;
  top: 32px;
  right: 25px;
  cursor: pointer;
  width: 11px;
  height: 11px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    top: 25px;
    right: 25px;
  }
}

.modal-products__title {
  font-family: $seymour-one;
  font-size: 20px;
  line-height: calc(28 / 20);
  text-align: center;

  color: $text-black-color;
  margin-bottom: 22px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.modal-products__img {
  position: relative;
  border-radius: 50%;
  z-index: 1;
}

.modal-products__img-wrap {
  width: 131px;
  margin: 0 auto;
  margin-bottom: 32px;

  &::after {
    content: '';
    top: 114px;
    display: block;
    position: absolute;
    width: 131px;
    height: 131px;
    border-radius: 50%;

    @media screen and (min-width: 768px) {
      top: 90px;
    }
  }
}

.modal-products__img-wrap--icecream {
  &::after {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }
}
.modal-products__img-wrap--coffee {
  &::after {
    top: 86px;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.702),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    @media screen and (min-width: 768px) {
      top: 90px;
    }
  }
}

.modal-products__img-wrap--milkshake {
  &::after {
    top: 86px;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.702),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 768px) {
      top: 90px;
    }
  }
}

.info {
  display: flex;
  gap: 9px;
  margin-bottom: 39px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    justify-content: center;
    margin-bottom: 48px;
  }
}

.info__item {
  position: relative;
  padding-top: 51px;
  width: 53px;
  height: 72px;
  border-radius: 40px;

  font-size: 10px;
  line-height: calc(12 / 10);
  text-align: center;

  color: #131313;
}

.info__item--icecream {
  border: 2px solid #9cbe8f;
}

.info__item--coffee {
  border: 2px solid #f8d24eb3;
}

.info__item--milkshake {
  border: 2px solid #d5753fb3;
}

.info__descr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
  width: 43px;
  height: 43px;

  border-radius: 50%;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);
  text-align: center;
  color: $text-black-color;
}

.info__descr--icecream {
  background: #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.info__descr--coffee {
  background: #f8d24eb3;
  box-shadow: 0px 6px 20px rgba(153, 114, 23, 0.25);
}

.info__descr--milkshake {
  background: #d5753fb3;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}

.modal__subtitle {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  text-align: center;

  color: $text-black-color;
}

.ingredients {
  margin-bottom: 48px;
}

.ingredients__item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 11px;
  }
}

.ingredients__text {
  font-size: 14px;
  line-height: calc(25 / 14);
}

.ingredients__weight {
  font-size: 14px;
  line-height: calc(25 / 14);
}

.products-form {
  width: 100%;
  max-width: 368px;
}

.products-form__input {
  padding: 11px;
  width: 100%;
  outline: transparent;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $green-color;
  border-radius: 10px;
  margin-bottom: 16px;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 200ms,
    border-color cubic-bezier(0.4, 0, 0.2, 1) 200ms;

  &--textarea {
    margin-bottom: 32px;
    min-height: 84px;
    resize: none;
  }

  &::placeholder {
    font-size: 14px;
    line-height: calc(20 / 14);
    color: #131313;
  }

  &:focus,
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid $accent-color;
  }
}

.products-form__btn {
  border: none;
  outline: transparent;
  background-color: $accent-color;
  display: block;
  margin: 0 auto;

  font-family: $montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  transition: color linear 200ms, background-color linear 200ms;

  &:hover {
    background-color: $green-btn-color;
  }

  &:focus {
    background-color: $green-btn-color;
    color: $text-white-color;
  }

  &:disabled {
    background-color: $grey-btn-color;
  }

  @media screen and (min-width: 768px) {
  }
}

// Modal Franchise

.modal-franchise {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  padding: 28px;
  background: $text-white-color;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 60px;
    top: 50%;
  }
}

.modal-franchise__close-btn {
  display: flex;
  position: absolute;
  padding: 0;
  border: none;
  top: 12px;
  right: 12px;
  cursor: pointer;
  width: 11px;
  height: 11px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    top: 25px;
    right: 25px;
  }
}

.modal-franchise__title {
  font-family: $seymour-one;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.modal-franchise__descr {
  font-size: 14px;
  line-height: calc(20 / 14);
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.franchise-form {
  width: 100%;
  max-width: 368px;
}

.franchise-form__input {
  padding: 8px 12px;
  width: 100%;
  outline: transparent;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $green-color;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &--textarea {
    margin-bottom: 24px;
    min-height: 84px;
    resize: none;
  }

  &::placeholder {
    font-size: 12px;
    line-height: calc(17 / 12);
    color: #131313;
  }

  &:focus,
  &::hover {
    border: 1px solid $accent-color;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;

    &--textarea {
      margin-bottom: 32px;
    }

    &::placeholder {
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }

  font-size: 14px;
  line-height: calc(20 / 14);
}

.franchise-form__btn {
  border: none;
  outline: transparent;
  background-color: $accent-color;
  display: block;
  margin: 0 auto;

  font-family: $montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  transition: color linear 200ms, background-color linear 200ms;

  &:hover {
    background-color: $green-btn-color;
  }

  &:focus {
    background-color: $green-btn-color;
    color: $text-white-color;
  }

  &:disabled {
    background-color: $grey-btn-color;
  }

  @media screen and (min-width: 768px) {
  }
}
